*{
    box-sizing: border-box;
    margin: 0;
    font-family: poppins;
}
:root{
    --bold-color: #3A3A3A;
    --button-color: #E02C6D;
}
nav{
    margin: 87px 120px 70px 120px;
    display: flex;
    gap: 494px;
    justify-content: center;
    align-items: center;
}
nav h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--bold-color);
}
.nav-links{
    display: flex;
    gap: 35px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--bold-color);
}
.banner-container{
    display: flex;
    gap: 133px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.banner-typo{
    max-width: 582px;
}
.banner-heading{
    font-size: 52px;
    color: var(--bold-color);
    font-weight: 800;
    margin-bottom: 16px;
}
.banner-details{
    font-size: 16px;
    font-weight: 600;
    color: var(--bold-color);
    margin-bottom: 16px;
}
.banner-button{
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 41px;
    max-width: 196px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;

}
.banner-image{
    background-image:url(../images/Circle\ design.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}
.divider-1{
    margin-bottom: 36px;
}
.divider-2{
    margin-top: 36px;
}
.logos{
    display: flex;
    gap: 61px;
    justify-content: center;
    align-items: center;
}
.card-container{
    width: 1047px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.cards-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: var(--bold-color);
    margin-bottom: 30px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
.card{
    padding: 17px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.card-heading{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
.card-cost{
    font-size: 24px;
    color: #000000;
}
.card-review{
    display: flex;
    gap: 8px;
    align-items: center;
}
.card-rating{
    color: #5E6366;
    font-size: 14px;
    font-weight: bold;
}
.card-class{
    width: 196px;
    font-size: 14px;
    font-weight: bold;
    color: #787885;
}
.card-button{
    color:#E02C6D;
    border:none;
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: right;
    width: 100%;
    justify-content: end;
}
.see-more{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
}
.feature-container{
    width: 1110px;
    display: flex;
    gap: 96px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.feature-heading{
    font-size: 38px;
    font-weight: bold;
    color: #0A0826;
    margin-bottom: 16px;
}
.feature-details{
    width: 500px;
    font-size: 16px;
    font-weight: bold;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.feature-button{
    background-color: var(--button-color);
    color: white;
    border: none;
    max-width: 196px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
}
footer{
    background-color: #0A0826;
    padding: 50px 590px;
    text-align: center;
}
.footer-heading{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
}
.footer-p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 17px;
    color: #D9DBE1;
}



/* Media Query for responsiveness */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        gap: 20px;
        margin: auto;
        margin-bottom: 30px;
        
    }
    nav h3{
        margin-top: 50px;
    }
    .nav-links{
        flex-direction: column;
    }
    nav ul{
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;
    }
    .banner-heading{
        font-size: 28px;
    }
    .banner-typo{
        justify-items: center;
    }
    .banner-image img{
        width: 100%;
    }
    .logos{
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
}
}
